---
import "$lib/styles/app.css";
import { Button } from "$lib/components/ui/button";

// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="Buzooka 1.0.0" />
    <title>Buzooka</title>
    <meta
      name="description"
      content="#1 Startup Studio - Launch an MVP. Faster!"
    />
    <!-- <link
      href="https://framerusercontent.com/images/T8cqFYtWheQPGqJRl35Uq5KyRE.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="https://framerusercontent.com/images/T8cqFYtWheQPGqJRl35Uq5KyRE.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    /> -->
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Buzooka" />
    <meta
      property="og:description"
      content="#1 Startup Studio - Launch an MVP. Faster!"
    />
    <!-- <meta
      property="og:image"
      content="https://framerusercontent.com/assets/QZjJz9s1cLLrXgcgSMVlXbX5eA.png"
    /> -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Buzooka" />
    <meta
      name="twitter:description"
      content="#1 Startup Studio - Launch an MVP. Faster!"
    />
    <!-- <meta
      name="twitter:image"
      content="https://framerusercontent.com/assets/QZjJz9s1cLLrXgcgSMVlXbX5eA.png"
    /> -->

    <!-- <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin /> -->

    <meta name="robots" content="max-image-preview:large" />
    <link rel="canonical" href="https://buzooka.in/" />
    <meta property="og:url" content="https://buzooka.in/" />
  </head>
  <body>
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      Buzooka
    </h1>

    <Button>Launch Now</Button>
  </body>
</html>
