---

---

<header
  class="px-4 lg:px-6 h-14 flex items-center pt-[32px] pb-[29px] sticky top-0 z-50 bg-background/80 backdrop-blur-md border-b border-border"
>
  <div class="flex">
    <a
      href="/"
      class="items-left justify-start relative top-[0px] sm:left-[12px] lg:left-[24px]"
    >
      <img
        alt="Buzooka"
        src="/buzooka-logo-new.svg"
        width="165"
        height="44"
        class="dark:invert"
        style="height: 44px;"
      />
    </a>
  </div>
  <nav class="ml-auto flex gap-4 sm:gap-6 flex-1 justify-end items-center">
    <a
      href="/#features"
      class="text-sm font-medium hover:underline underline-offset-4 py-3 hidden sm:block"
      >What</a
    >
    <a
      href="/#pricing"
      class="text-sm font-medium hover:underline underline-offset-4 py-3 hidden sm:block"
      >Pricing</a
    >
    <a
      href="/#schedule"
      class="text-sm font-medium hover:underline underline-offset-4 py-3 hidden sm:block"
      >Book a Call</a
    >
    <a
      href="/blog"
      class="text-sm font-medium hover:underline underline-offset-4 py-3 hidden sm:block"
      >Blog</a
    >
    <a
      href="/#faq"
      class="text-sm font-medium hover:underline underline-offset-4 py-3 hidden sm:block"
      >FAQ</a
    >
    <a
      href="https://status.buzooka.in"
      target="_blank"
      class="group text-sm font-medium hover:underline underline-offset-4 py-3 hidden sm:flex items-center gap-1.5"
    >
      Status
      <div class="relative flex h-2.5 w-2.5 items-center justify-center">
        <span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
        ></span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="relative h-3 w-3 text-green-600 fill-green-500/20 dark:text-green-400"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </div>
    </a>
    <a
      href="https://cloud.umami.is/q/79N5WNQj0"
      target="_blank"
      class="text-sm font-medium bg-primary text-primary-foreground px-4 py-2 rounded-lg hover:bg-primary/90 transition-colors"
    >
      Log In
    </a>
  </nav>
</header>
